header{background-color:navy}



h1{font-size: 2em;
display: inline-block;
text-align: left;
width:20%;
color:lightgray}

nav{display:inline-block;
	width:90%}

footer{font-size: 12px;}

body{
	background-color: white;
	font-family: 'Source Serif Pro', Times, serif;
}

/* header a{position: relative; left:700px} */

p{padding:5%}

a:active{color:red}
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
	background-color:#f6ff5a;
    color:red;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 25%;
    padding:5px;
    /* border-radius: 10px; */
    text-align:left;
    font-size:2em;
    z-index:999;
}



@media screen{
	li{display:block; position:relative;align-items: left}
	ul{display:block; width:50%; text-align: left;}
	.flex-container {
			display: grid; 
			grid-template-columns: auto auto auto;
			grid-template-rows: 2fr 1fr 1fr 1fr;
			justify-content: center;
			align-content: space-around
	}

	.index-container {
		display: grid; 
		grid-template-columns: auto auto ;
		grid-template-rows: auto auto;
		justify-content: center;
		align-content: space-around
}

	.flex-academic-container {
		display: grid; 
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		justify-content: center;
		align-content: space-around
}


	.flex-academic-item-p1 {grid-row-start:1; grid-column-start:2; width:80%; height:80%}
	
	.flex-academic-item-p2{grid-row-start:2; grid-column-start:2; width:80%}

	.flex-academic-item {grid-row-start:3; grid-column-start:2; width:80%}
	
	.flex-internship-text-item{grid-row-start:1;grid-column-start:1; width:50%; padding-left: 10%}
	.flex-internship-item-1{grid-row-start:2; grid-column-start:1; width:50%; height:50%;padding-left: 10% }
	
	.flex-internship-item-2{grid-row-start:3; grid-column-start:1; width:50%; height:50%; padding-left: 10%}
	.flex-internship-item-3{grid-row-start:4; grid-column-start:1; width:50%; height:50%;padding-left: 10%}

	.flex-index-item-1 {grid-row-start: 1; grid-column-start: 1}
	.flex-index-item-2{grid-row-start:3; grid-column-start: 1}
	
	.flex-index-image-1{display:none}
	.flex-index-image-2{display:none}
	.flip-card-back{display:none}


	.flex-work-container {
		display: grid; 
		grid-template-columns: auto;
		grid-template-rows:auto*9;
		justify-content: center;
		align-content: space-around;
		padding: 10px
}

@media screen and (min-width:700px) and (orientation: landscape){

	.index-container {
		display: grid; 
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto;
		justify-content: center;
		align-content: space-around
}
	
.flip-card {
		background-color: transparent;
		perspective: 1000px;
	  }
	  
	  .flip-card-inner {
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  }
	  
	  .flip-card:hover .flip-card-inner {
		transform: rotateY(180deg);
	  }
	  
	  .flip-card-front, .flip-card-back {
		display:inline-block;
		backface-visibility: hidden;
	  }
	  
	  .flip-card-front {
		z-index: 2;
	  }
	  
	  .flip-card-back {
		background-color: navy;
		color: white;
		transform: rotateY(180deg);
		z-index: 1;
	  }

	li{
		text-decoration: none;
		display:inline-block;
		color: black;
		padding: 1%;
	}

	ul{position: absolute;top:0px; text-align: right; width:100%}

	.flex-container {
		display: grid; 
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto auto;
		justify-content: center;
		align-content: space-around}

	.flex-work-container {
			display: grid; 
			grid-template-columns: auto auto;
			grid-template-rows:auto*5;
			justify-content: center;
			align-content: space-around;
			padding: 10px;
	}
	
	.flex-work-item-1{grid-column-start:1; grid-row-start:1}
	.flex-work-item-2{grid-column-start:2; grid-row-start:1}
	.flex-work-item-3{grid-column-start:1; grid-row-start:2}
	.work-1{grid-column-start:2;grid-row-start:2}
	.work-2{grid-column-start:1; grid-row-start:3}
	.work-3{grid-column-start:2;grid-row-start:3}
	.work-4{grid-column-start:1;grid-row-start:4}
	.work-5{grid-column-start:2;grid-row-start:4}
	.work-6{grid-row-start:5}

	.flex-academic-item-p1 {
		grid-row-start: 1; grid-column-start:2; padding:10%;
	  }
	
	.flex-academic-item-p2{grid-row-start:2; grid-column-start:2; padding:10%}

	.flex-academic-item {grid-row-start:2; grid-column-start:1; width:80%}
	
	.flex-internship-item-1 {grid-row-start:1; grid-column-start:2; width:180px; height:200px}
	
	.flex-internship-item-2{grid-row-start:2; grid-column-start:2; width:200px; height:200px}
	
	.flex-internship-item-3{grid-row-start:2; grid-column-start:3;width:200px; height:200px}

	.flex-internship-text-item{grid-row-start:1; grid-column-start:3; width:80%}
	
	
	.flex-index-item-1{grid-row-start:1;grid-column-start:2;width:90%}
	.flex-index-item-2{grid-row-start:2;grid-column-start:2;width:90%}
	
	.flex-index-image-1{display: inline-block; grid-row-start:1;grid-column-start:3}
	
	.flex-index-image-2{display: inline-block; grid-row-start:2;grid-column-start:3}


@media screen and (min-width: 1200px) {
	.flex-container {
		padding: 0;
		margin: 0;
		list-style: none;
			
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
			
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}
	.flex-academic-item-p1, .flex-academic-item-p2, .flex-academic-item{
		padding: 1px;
		width: 400px;
		height: 250px;
		margin-top: 10px;
		
		font-size: 1em;
		text-align: center;
	  }
	
	.flex-internship-item-1, .flex-internship-item-2, .flex-internship-item-3{padding: 30px;
		width: 20%;
		height: 20%;
		margin-top: 10px;
		
		font-size: 1em;
		text-align: center;}
	
	.flex-internship-text-item{padding: 30px;
		width: 300px;
		height: 300px;
		margin-top: 10px;
			
		font-size: 1em;
		text-align: center;}
	
	
	.flex-work-container {
		display: grid; 
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		justify-content: center;
		align-content: space-around
	}	

	.flex-work-item-1{grid-column-start:1; grid-row-start:1}
	.flex-work-item-2{grid-column-start:2; grid-row-start:1}
	.flex-work-item-3{grid-column-start:3; grid-row-start:1}
	.work-1{grid-column-start:1;grid-row-start:2}
	.work-2{grid-column-start:2; grid-row-start:2}
	.work-3{grid-column-start:3;grid-row-start:2}
	.work-4{grid-column-start:1;grid-row-start:3}
	.work-5{grid-column-start:2;grid-row-start:3}
	.work-6{grid-column-start:3;grid-row-start:3}

	.index-container {
		display: grid; 
		grid-template-columns:auto auto;
		grid-template-rows: auto auto;
		justify-content: center;
		align-content: space-around
}


	.flex-index-item-1{grid-row-start:1;grid-column-start:1;width:90%}
	.flex-index-item-2{grid-row-start:2;grid-column-start:2;width:90%}
	
	.flex-index-image-1{display: inline-block; grid-row-start:1;grid-column-start:2}
	
	.flex-index-image-2{display: inline-block; grid-row-start:2;grid-column-start:1}







